.contuner {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-contuner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    margin: 100px 50px;
  }

  .card{
    padding: 10px;
    background-color: blanchedalmond;
    position: sticky;
    padding-top: 0px;
  }

  
  @media (max-width: 600px) {
    .product-contuner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  